/* Universal Styles */

html, body {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Styles for banner*/

.banner .container {
  display: flex;
  align-items: center;
}

.banner {
  background-image: url("glasses.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
