/* Universal Styles */

html, body {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Styles for banner*/

.banner .container {
  display: flex;
  align-items: center;
}

.banner {
  background-image: url("glasses.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.phone-menu {
  display: none;
}

/* Media styles used for tablet*/


@media only screen
    and (max-width: 1024px) {
      .banner {
        height: 22rem;
      }
      .container {
        width: 100%;
      }

}

/* Media styles used for phone*/

@media only screen
    and (max-width: 480px) {
      .banner {
        height: 17rem;
      }

      .menu {
        display: none;
      }

      .phone-menu {
        display: block;
        padding-right: 1rem;
      }
}

/* Styles for navigation section of Banner*/


.navigation {
  background-color: cadetblue;
  margin-top: 1rem;
  width: 960px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  height: 4rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.menu span {
  padding-right: 2rem;
}

.logo img {
  height: 1.25rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* Styles for navigation section of Banner*/


@media only screen
    and (max-width: 480px) {
      .navigation {
        margin-top: 0;
      }
}


/* Styles for slogan section of Banner*/

.slogan {
  font-family: Helvetica
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 10rem;
  display: flex;
}

.slogan .container {
  display: flex;
  justify-content: flex-end;
}

.slogan span {
  background-color: white;
  padding: 1.5rem 5rem;
}


/* Media styles for banner*/

@media only screen
    and (max-width: 1024px) {
      .slogan span {
        padding: .75rem 4rem;
        font-size: 1.33rem;
        margin-right: 2rem;
      }
}

@media only screen
    and (max-width: 480px) {
      .slogan span {
        width: 100%;
        font-size: 1.33rem;
      }
}

/* Styles for service description section*/

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 8rem;
}

.pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
}

.services span {
  color: purple;
}

.exam img {
  width: 3.5rem;
  padding-bottom: 1.5rem;
}

.other img {
  width: 5rem;
  padding-bottom: 1.5rem;
}

/* Styles for service description section */

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.philosophy {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.title {
  width: 10rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: .5rem 0 .5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Styles for service description section */

.footer {
  display: flex;
  flex-direction: row;
  background-color: azure;
  height: auto;
}

.image img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

.copyright {
  padding: 4rem 0;
}
